#a1 {margin-top: 90px; background-color: aliceblue; margin-left: 150px; display: flex; border: solid 1px black; flex-direction: column; width: 200px; height: 300px;
}
#a2 {display: flex; flex-wrap: wrap;}
button { height: 50px; width: 50px;}
input {height: 200px;}
h1 {font-size: 50px; margin-left: 130px; margin-top: 100px;}
body {background-color: bisque;}